#menu-scroll #unity-content-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#menu-scroll #GamemodeCard {
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
}

#navbar {
    flex-direction: row;
    align-items: stretch;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

#navbar Button {
    margin-left: 6px;
}
